AM32_SOURCE=/srv/git/AM32
AM32_BOOTLOADER_SOURCE=/srv/git/AM32-bootloader
AM32_REF=origin/HEAD
AM32_BOOTLOADER_REF=origin/HEAD
PUBLISH_HOST=autotest
PUBLISH_ROOT=APM/buildlogs/binaries/Tools/AM32-tools/ESCSim
PUBLISH_WORK_DIR=/var/lib/escsim-builder/work
PUBLISH_SITE_DIR=/var/lib/escsim-builder/site
PUBLISH_CHANNEL=nightly
PUBLISH_JOBS=8
